@import "var.scss";

*{
  padding: 0;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}
body{
  background: #fafafa;
}
header{
  width: 100%;
  height: 60px;
  position: fixed;
  background: #fff;
  z-index: 100;
  a{
    float: left;
  }
  img{
    width: 90px;
    padding: 5px;
    float: left;
    margin-left: 10px;
  }
  h1{
    float: left;
    padding: 10px;
    color: #333;
  }
  #menuBtn{
    cursor: pointer;
    float: left;
    display: none;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
    margin: 13px 5px 0 13px;
  }
}
#sideNav{
  width: 20%;
  position: fixed;
  height: 100vh;
  background: lighten(#282C34, 10%);
  z-index: 99;
  .user{
    width: 100%;
    height: 200px;
    padding-top: 70px;
  }
  .uimg{
    width: 110px;
    margin: auto;
    padding: 5px;
  }
  .uemail{
    text-align: center;
    color: #fff;
    font-size: 18px;
  }
  img{
    width: 100%;
    border-radius: 100%;
    padding: 7px;
    box-sizing: border-box;
    background: lighten(#282C34, 30%);
  }
  .list{
    padding-top: 30px;
    width: 100%;
    ul{
      width: 100%;
      list-style-type: none;
      padding-top: 50px;
      .icon{
        padding: 0 10px;
      }
    }
    li{
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      -webkit-user-select: none;
      cursor: pointer;
      color: #aaa;
      &.active{
        background: lighten(#282C34, 20%);
        color: #fff;
        border-left: 3px solid #fff;
      }
    }
  }
}
#content{
  width: 80%;
  position: relative;
  left: 20%;
  top: 80px;
}

.btn{
  border: 0;
  background: $blue;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.tab{
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: none;
  &.active{
    display: block;
  }
}
#book{
  .cardHolder{
    width: 100%;
    margin-top: 20px;
  }
  .card{
    width: (88%/3);
    margin: 2%;
    height: 200px;
    float: left;
    background: #fff;
  }
  .btnHlder{
    width: 190px;
  }
  button{
    width: 100%;
  }
  h2, p{
    padding-top: 20px;
    text-align: center;
    width: 100%;
    color: #000;
  }
}
#pastServices{
  .list{
    width: 100
  }
  .listItem{
    width: 100%;
    cursor: pointer;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 50px;
    z-index: 2;
    background: #fff;
    .veh{
      float: left;
    }
    .date{
      float: left;
      padding-left: 50px;
    }
    .icon{
      float: right;
      padding-top: 5px ;
    }
  }
  .listdetail{
    width: 100%;
    min-height: 200px;
    background: #eee;
    z-index: 1;
    margin-bottom: 10px;
    &::after{
      content: 'Here we will have the details of the services';
    }
  }
}
#feedback{
  textarea{
    margin: 20px 0;
    resize: none;
    width: 500px;
    height: 100px;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  textarea:focus{
    border: 1px solid $blue;
    box-shadow: 0 0 4px 0px $blue;
  }
}
#settings{
  .card{
    width: 45%;
    height: 400px;
    float: left;
    margin: 10px 2.5%;
    background: #fff;
  }
}

@media only screen and (max-width: 1000px) {
  #sideNav{
    width: 28%;
  }
  #content{
    width: (100% - 28);
    left: 28%;
  }
}
@media only screen and (max-width: 767px) {
  header{
    #menuBtn{
      display: block;
    }
    img{
      width: 80px;
      margin-left: 0;
    }
    h1{
      display: none;
    }
  }
  #sideNav{
    width: 100%;
    left: -100%;
    z-index: 2;
    transition: 100ms all ease-in;
    -webkit-transition: 100ms all ease-in;
    -moz-transition: 100ms all ease-in;
    .list ul{
      padding-top: 0;
    }
    .uimg{
      width: 70px;
    }
    &.open{
      left: 0;
      transition: 100ms all ease-in;
      -webkit-transition: 100ms all ease-in;
      -moz-transition: 100ms all ease-in;
    }
  }
  #content{
    width: 100%;
    left: 0;
    top: 60px;
    z-index: 1;
  }
  #book{
    .select{
      padding: 0;
    }
    .btnHlder{
      margin: auto;
      padding-top: 10px;
    }
    .card{
      width: 96%;
    }
  }
  #feedback{
    textarea{
      width: 100%;
    }
  }
}
